/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --lightGreen: #212d37;
    --darkGreen: #16232e;
    --white: #ffffff;
    --lightWhite: rgba(255, 253, 255, 0.7);
    --lightWhite2: rgba(255, 253, 255, 0.3);
    --lightShadow: 0 1px 3px 0 rgba(255, 255, 255, 0.1), 0 1px 2px -1px rgba(255, 255, 255, 0.1);
    --darkShadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --BEZIER: cubic-bezier(0.5, 0, 0.2, 1);

}

* {
    font-family: "Inter", sans-serif;
    font-feature-settings: "ss04", "cv03", "cv04";
    -webkit-font-smoothing: antialiased;
    unicode-bidi: isolate;
    text-wrap: pretty;
    text-size-adjust: 100%;
    box-sizing: border-box;
    
}

body {
    margin: 0;
}
